streamlit==1.28.0
langchain
openai==1.65.4
duckduckgo_search==7.5.0
anthropic==0.49.0
trubrics==1.8.3
streamlit-feedback==0.1.4
langchain-community==0.3.19
chromadb==0.6.3
python-decouple==3.8
langchain-google-genai==2.0.10
langchain-deepseek==0.1.2
sentence-transformers==3.4.1
watchdog==6.0.0