[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
google-genai = "*"
chromadb = "*"
SQLAlchemy = "*"
wandb = "*"
langchain-google-genai = "*"
langchain-google-vertexai = "*"
langchain-mongodb = "*"
langgraph = "*"
langchain-community = "*"
beautifulsoup4 = "*"
openai = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"